{% extends "pandoratradingsolution/ms_blog.html" %}

{% load blog_tags %}
{% load static %}

{% block title %} {{ flatpage.title }} {% endblock %}
{% block description %}{{ flatpage.flatpageext.meta_description }}{% endblock %}
{% block keywords %}{{ flatpage.flatpageext.meta_keywords }}{% endblock %}

{% block post %}

<div class="col-lg-8">
  <div class="card animated fadeInLeftTiny animation-delay-5">
    <div class="card-body card-body-big">

        <div xmlns:v="http://rdf.data-vocabulary.org/#">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-slash">
              <li class="breadcrumb-item" typeof="v:Breadcrumb"><a href="/" rel="v:url" property="v:title">Главная</a></li>
              <li class="breadcrumb-item active" typeof="v:Breadcrumb"><a href="{{ request.get_path }}" rel="v:url" property="v:title">{{ flatpage.title }}</a></li>
          </ol>
        </nav>
      </div>

      <h1 class="no-mt">{{ flatpage.title }}</h1>
      <div class="mb-4">
        <div class="mb-4">
            {% if flatpage.flatpageext.author.avatar %}
            <img src="{{ flatpage.flatpageext.author.avatar.url }}" width="45px" height="45px" alt=" {{ flatpage.flatpageext.author.user.username }} " class="rounded-circle mr-1">
            {% else %}
            <img src=" {% static 'pandoratradingsolution/no_ava.jpeg' %} " width="45px" height="45px" alt=" {{ flatpage.flatpageext.author.user.username }} " class="rounded-circle mr-1">
            {% endif %}
            by <a href="#">{{ flatpage.flatpageext.author.user.username }}</a>
            in <a href="{% url 'how-to-use' %}" class="ms-tag ms-tag-info">Стратегии</a>

            {% if flatpage.flatpageext.date_pub %}
            <span class="ml-1 d-none d-sm-inline"><i class="zmdi zmdi-time mr-05 color-info"></i> <span class="color-medium-dark"> {{ flatpage.flatpageext.date_pub }} </span></span>
            {% endif %}
        </div>
      </div>

      {{ flatpage.content|markdown }}

    </div>
  </div>
</div>

{% endblock %}