{% extends "pandoratradingsolution/ms_blog.html" %}

{% load blog_tags %}
{% load static %}

{% block title %} {{ flatpage.title }} {% endblock %}

{% block post %}

<div class="col-lg-8">
  <div class="card animated fadeInLeftTiny animation-delay-5">
    <div class="card-body card-body-big">
      <h1 class="no-mt">{{ flatpage.title }}</h1>
      <div class="mb-4">
        <a href="javascript:void(0)" class="ms-tag ms-tag-info">Стратегии</a>
      </div>

      {{ flatpage.content|markdown }}

    </div>
  </div>
</div>

{% endblock %}