/pandoratradingsolution/media/dailyAnalysis/
/venv/
/pandoratradingsolution/predictions/migrations/
/pandoratradingsolution/dailyAnalysis/migrations/
/pandoratradingsolution/marketDictionary/migrations/
/pandoratradingsolution/pandoratradingsolution/settings.py
/.idea/
/pandoratradingsolution/logs/api.log
/pandoratradingsolution/account/migrations/
