{% extends "pandoratradingsolution/ms_base.html" %}

{% load static %}

{% block title %} Раздел не найден {% endblock %}
{% block description %} Раздел не найден {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card animated fadeInLeftTiny animation-delay-5">
          <div class="card-body card-body-big">

            <div class="alert alert-danger alert-dismissible" role="alert">
              Этого раздела на нашем сайте не существует.<br>
              Попробуйте зайти на нашу <a href="/">главную</a>, там много интересного.
            </div>

            <h1 class="no-mt">Ой, страничка не найдена...</h1>

            <p>Запрашиваемая Вами страница не найдена, и у нас есть прекрасная догадка, почему!</p>
            <ul>
              <li>Если вы набрали URL напрямую, убедитесь, что написание является правильным.</li>
              <li>Если вы нажали на ссылку, чтобы попасть сюда, ссылка устарела.</li>
            </ul>
            <p>Что делать? Не бойтесь, помощь рядом!</p>
            <ul>
              <li>Вернуться на <a href="/">Главную</a></li>
              <li>Используйте строку поиска в верхней части страницы для поиска нужной информации.</li>
              <li>Отправить письмо владельцу сайта через форму <a href="{% url 'contact' %}">Обратной связи</a></li>
            </ul>

          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}