{% extends "pandoratradingsolution/ms_base.html" %}

{% load static %}

{% block title %} Внутренняя ошибка на сервере {% endblock %}
{% block description %} Внутренняя ошибка на сервере {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card animated fadeInLeftTiny animation-delay-5">
          <div class="card-body card-body-big">

            <div class="alert alert-danger alert-dismissible" role="alert">
              Возникла непредвиденная ошибка на сервере.<br>
              Попробуйте зайти на нашу <a href="/">главную</a> страницу.
            </div>

            <h1 class="no-mt">Ой, что-то пошло не так...</h1>

            <p>На текущий момент возникла непредвиденная ошибка на сервере. Наши специалисты уже работают над ее исправлением. Сейчас вы можете:</p>
            <ul>
              <li>Вернуться на <a href="/">Главную</a></li>
              <li>Отправить письмо владельцу сайта через форму <a href="{% url 'contact' %}">Обратной связи</a> с описанием ошибки.</li>
            </ul>

          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}