{% extends "pandoratradingsolution/base.html" %}

{% load blog_tags %}
{% load static %}

{% block title %} Главная страница {% endblock %}
{% block content %}

<h2>Аналитическая информация о мировых финансовых рынках</h2><br>

<h4>ВНИМАНИЕ! Данный сайт находится в процессе активной разработки. Сейчас представлена бета-версия сайта. Возможны несущественные ошибки в работе и некорректная работа функцианала. По возникающим вопросам и предложениям можно писать на адрес info@pandoratradingsolutions.ru.<br><br></h4>

На нашем сайте представлена аналитическая информация и прогнозы для мировых финансовых рынков на основании данных технического и фундаментального анализа.<br><br>

Информацию о том, как пользоваться сайтом, можно получить разделе <b>"Как пользоваться сайтом"</b>, представленном в главном меню.<br><br><br>

<h3>Новые статьи на сайте:</h3>

{% if post_list %}
    <ul>
            {% for post in post_list %}
                <li><a href="{% url 'detail' post.slug_url %}">{{ post.header }}</a></li>
            {% endfor %}
    </ul>
{% else %}
    <p>Нет публикаций</p>
{% endif %}

<h6>ПРЕДУПРЕЖДЕНИЕ: Операции на российских и международных рынках содержат в себе высокий уровень риска. Администрация сайта
    pandoratradingsolutions.ru напоминает вам, что данные, предоставленные на данном сайте, не
    обязательно даны в режиме реального времени и могут не являться точными. Все цены на акции, индексы, фьючерсы носят
    ориентировочный характер и на них нельзя полагаться при торговле. Таким образом, администрация сайта
    pandoratradingsolutions.ru не несет никакой ответственности за любые убытки, которые вы можете понести в результате
    использования информации, содержащейся на этом сайте, котировок, графиков и сигналов.<br><br></h6>

{% endblock %}