{% extends "pandoratradingsolution/base.html" %}

{% load blog_tags %}
{% load static %}

{% block title %} Главная страница {% endblock %}
{% block content %}

<h2>Аналитическая информация о мировых финансовых рынках</h2><br>

На нашем сайте представлена аналитическая информация и прогнозы для мировых финансовых рынков на основании данных технического и фундаментального анализа.<br><br>

Информацию о том, как пользоваться сайтом, можно получить разделе <b>"Как пользоваться сайтом"</b>, представленном в главном меню.<br><br><br>

<h3>Недавно добавленные аналитические отчеты:</h3>

{% if post_list %}
    <ul>
            {% for post in post_list %}
                <li><a href="{% url 'detail' post.id %}">{{ post.header }}</a></li>
            {% endfor %}
    </ul>
{% else %}
    <p>Нет публикаций</p>
{% endif %}

{% endblock %}