{% extends "pandoratradingsolution/ms_base.html" %}
{% load blog_tags %}

{% block title %} О нас {% endblock %}

{% block content %}

      <header class="ms-hero bg-primary-dark pb-4 pt-4 mb-6">
        <div class="container">
          <div class="text-center">
            <span class="ms-logo ms-logo-lg ms-logo-white center-block mb-2 mt-2 animated zoomInDown animation-delay-5">P</span>
            <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5"><span>Pandora</span>TradingSolutions</h1>
            <p class="lead mt-2 animated zoomInDown animation-delay-5">Мы помогаем ощущать уверенность при инвестировании на финансовых рынках</p>
          </div>
        </div>
      </header>
      <div class="container">
        <div class="card wow fadeInUp">
          <div class="card-body card-body-big">
            <h2 class="text-center fw-500">О нас</h2>
            <p class="lead text-center center-block mw-800">Откройте для себя чувство уверенности успешного инвестора. Наши принципы, миссия, опыт и знания.</p>
            <div class="row mt-4">
              <div class="col-lg-6 order-lg-2 text-justify">
                <h3 class="color-primary">Наша миссия</h3>
                <p class="dropcaps">Наша миссия - это помощь в достижении <strong>инвестиционных и финансовых целей</strong> наших пользователей
                  за счет предоставление высококачественной аналитической информации и прогнозов, а также способствование
                  стабильной прибыльной торговле на мировых финансовых рынках с помощью автоматизированных алгоритмов
                  на основе искусственного интеллекта и машинного обучения.</p>
                <p>Помощь пользователям в получении <strong>дохода от трейдинга на финансовых рынках</strong> путем
                  повышения финансовой грамотности, предоставления доступа к необходимой аналитической информации и прогнозам.</p>
              </div>
              <div class="col-lg-6 order-lg-1">
                <h3 class="color-primary">Наши принципы</h3>
                <ol class="service-list list-unstyled">
                  <li>Технологичность. Мы используем только передовые технологии в области машинного обучения и искусственного интеллекта.</li>
                  <li>Точность и качество. Мы стремимся прикладывать максимум усилий для того, чтобы предоставлять качественную аналитику и точные прогнозы.</li>
                  <li>Доступность. Мы хотим, чтобы наш продукт был доступен как можно более широкому кругу людей.</li>
                  <li>Открытость. Мы всегда готовы к диалогу и готовы демонстрировать принципы работы искусственного интеллекта и машнного обучения в трейдинге.</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-body mt-6 card-body-big wow fadeInUp">
          <h3 class="text-center fw-500 mb-6">Этапы развития проекта</h3>
          <ul class="ms-timeline-left">
            <li class="ms-timeline-left-item wow fadeInUp">
              <h4>Старт проекта</h4>
              <div class="ms-timeline-left-left">
                <h4 class="color-primary">Старт проекта</h4>
                <time class="ms-timeline-left-time">Апрель 2020</time>
              </div>
              <span class="ms-timeline-left-city">Москва</span>
              <p>Начало проекта.</p>
            </li>
          </ul>
        </div>
      </div> <!-- container -->

{% endblock %}