{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
           (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
           m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
           (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

           ym(65002513, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true
           });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/65002513" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->

      <meta name="yandex-verification" content="fd8ca6854d52ddf1" />

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <meta name="theme-color" content="#333">
      <title>{% block title %}{% endblock %}</title>
      <meta name="description" content="{% block description %}{% endblock %}">
      <meta name="keywords" content="{% block keywords %}{% endblock %}" />
      <link rel="shortcut icon" href="{% static "pandoratradingsolution/favicon.ico" %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="{% static "pandoratradingsolution/assets/css/preload.min.css" %}">
      <link rel="stylesheet" href="{% static "pandoratradingsolution/assets/css/plugins.min.css" %}">
      <link rel="stylesheet" href="{% static "pandoratradingsolution/assets/css/style.indigo-800.min.css" %}">
      <!--[if lt IE 9]>
          <script src="{% static "pandoratradingsolution/assets/js/html5shiv.min.js" %}"></script>
          <script src="{% static "pandoratradingsolution/assets/js/respond.min.js" %}"></script>
      <![endif]-->
  </head>
  <body>
    <div id="ms-preload" class="ms-preload">
      <div id="status">
        <div class="spinner">
          <div class="dot1"></div>
          <div class="dot2"></div>
        </div>
      </div>
    </div>
    <div class="ms-site-container">
      <header class="ms-header ms-header-white">
        <!--ms-header-white-->
        <div class="container container-full">
          <div class="ms-title">
            <a href="/">
              <!-- <img src="assets/img/demo/logo-header.png" alt=""> -->
              <span class="ms-logo animated zoomInDown animation-delay-5">P</span>
              <h1 class="animated fadeInRight animation-delay-6"><span>Pandora</span>TradingSolutions</h1>
            </a>
          </div>
          <div class="header-right">
            <div class="share-menu">
              <ul class="share-menu-list">
                <li class="animated fadeInRight animation-delay-3"><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="btn-circle btn-facebook"><i class="zmdi zmdi-facebook"></i></a></li>
                <li class="animated fadeInRight animation-delay-2"><a href="https://www.linkedin.com/shareArticle?url={{ request.build_absolute_uri }}" class="btn-circle btn-linkedin"><i class="zmdi zmdi-linkedin"></i></a></li>
                <li class="animated fadeInRight animation-delay-1"><a href="https://vk.com/share.php?url={{ request.build_absolute_uri }}" class="btn-circle btn-vk"><i class="zmdi zmdi-vk"></i></a></li>
              </ul>
              <a href="javascript:void(0)" class="btn-circle btn-circle-primary animated zoomInDown animation-delay-7"><i class="zmdi zmdi-share"></i></a>
            </div>
            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="btn-circle btn-circle-primary no-focus animated zoomInDown animation-delay-8" title="{{ user.username }}"><i class="zmdi zmdi-account color-success"></i></a>
            {% else %}
            <a href="{% url 'login' %}" class="btn-circle btn-circle-primary no-focus animated zoomInDown animation-delay-8" title="Войдите"><i class="zmdi zmdi-account"></i></a>
            {% endif %}
            <form class="search-form animated zoomInDown animation-delay-9" action="/search">
              <input id="search-box" type="text" class="search-input" placeholder="Поиск..." name="q" />
              <label for="search-box"><i class="zmdi zmdi-search"></i></label>
            </form>
            <a href="javascript:void(0)" class="btn-ms-menu btn-circle btn-circle-primary ms-toggle-left animated zoomInDown animation-delay-10"><i class="zmdi zmdi-menu"></i></a>
          </div>
        </div>
      </header>
      <nav class="navbar navbar-expand-md  navbar-static ms-navbar ms-navbar-primary">
        <div class="container container-full">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <!-- <img src="assets/img/demo/logo-navbar.png" alt=""> -->
              <span class="ms-logo ms-logo-sm">P</span>
              <span class="ms-title"><strong>Pandora</strong>TradingSolutions</span>
            </a>
          </div>
          <div class="collapse navbar-collapse" id="ms-navbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="/" class="nav-link dropdown-toggle animated fadeIn animation-delay-7" role="button" aria-haspopup="true" aria-expanded="false" data-name="home">Главная</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'dailyAnalysis' %}" class="nav-link dropdown-toggle animated fadeIn animation-delay-7" role="button" aria-haspopup="true" aria-expanded="false" data-name="page">Аналитика</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'predictions' %}" class="nav-link dropdown-toggle animated fadeIn animation-delay-7" role="button" aria-haspopup="true" aria-expanded="false" data-name="component">Прогнозы</a>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle animated fadeIn animation-delay-7" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-name="blog">Как пользоваться сайтом <i class="zmdi zmdi-chevron-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'how-to-use' %}"><i class="zmdi zmdi-view-compact"></i> Общие рекомендации</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'how-to-use_elder' %}"><i class="zmdi zmdi-file-text"></i> Стратегия экраны Элдера</a></li>
                    <li><a class="dropdown-item" href="{% url 'how-to-use_channel' %}"><i class="zmdi zmdi-file-text"></i> Канальная стратегия</a></li>
                    <li><a class="dropdown-item" href="{% url 'how-to-use_divbar' %}"><i class="zmdi zmdi-file-text"></i>  Стратегия дивергентный бар</a></li>
                    <li><a class="dropdown-item" href="{% url 'how-to-use_volatility' %}"><i class="zmdi zmdi-file-text"></i> Стратегия прорыв волатильности</a></li>
                    <li><a class="dropdown-item" href="{% url 'how-to-use_NR4ID' %}"><i class="zmdi zmdi-file-text"></i> Стратегия NR4/ID</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle animated fadeIn animation-delay-8" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-name="portfolio">О нас <i class="zmdi zmdi-chevron-down"></i></a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'about' %}"><i class="zmdi zmdi-view-compact"></i> Миссия</a></li>
                  <li><a class="dropdown-item" href="{% url 'contact' %} "><i class="zmdi zmdi-view-agenda"></i> Контакты</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a href="https://forum.pandoratradingsolutions.ru/index.php" class="nav-link dropdown-toggle animated fadeIn animation-delay-9" role="button" aria-haspopup="true" aria-expanded="false" data-name="ecommerce">Форум</a>
              </li>
            </ul>
          </div>
          <a href="javascript:void(0)" class="ms-toggle-left btn-navbar-menu"><i class="zmdi zmdi-menu"></i></a>
        </div> <!-- container -->
      </nav>

        {% block content %}

        {% endblock %}

      <aside class="ms-footbar">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 ms-footer-col">
              <div class="ms-footbar-block">
                <h3 class="ms-footbar-title">Карта сайта</h3>
                <ul class="list-unstyled ms-icon-list three_cols">
                    <li><a href="/"><i class="zmdi zmdi-home"></i> Главная</a></li>
                    <li><a href="{% url 'dailyAnalysis' %}"><i class="zmdi zmdi-case"></i> Аналитика</a></li>
                    <li><a href="{% url 'predictions' %}"><i class="zmdi zmdi-time"></i> Прогнозы</a></li>
                    <li><a href="{% url 'how-to-use' %}"><i class="zmdi zmdi-help"></i> How to use</a></li>
                    <li><a href="{% url 'marketDictionary:marketDictionary' %}"><i class="zmdi zmdi-edit"></i> Тикеры</a></li>
                    <li><a href="http://forum.pandoratradingsolutions.ru/index.php"><i class="zmdi zmdi-accounts"></i> Форум</a></li>
                    <li><a href="{% url 'login' %}"><i class="zmdi zmdi-lock"></i> Логин</a></li>
                    <li><a href="{% url 'about' %}"><i class="zmdi zmdi-face"></i> Миссия</a></li>
                    <li><a href="{% url 'contact' %}"><i class="zmdi zmdi-email"></i> Контакты</a></li>
                </ul>
              </div>
              <div class="ms-footbar-block">
                <h3 class="ms-footbar-title">Подписка</h3>
                <p class="">Подпишитесь на самые последние новости сайта pandoratradingsolutions.ru, чтобы всегда оставаться
                    в курсе новых трендов в инвестировании и биржевой торговле.</p>
                <form>
                  <div class="form-group label-floating mt-2 mb-1">
                    <div class="input-group ms-input-subscribe">
                      <label class="control-label" for="ms-subscribe"><i class="zmdi zmdi-email"></i> Email</label>
                      <input type="email" id="ms-subscribe" class="form-control">
                    </div>
                  </div>
                  <button class="ms-subscribre-btn" type="button" onclick="location.href='{% url 'signup' %}'">Подписаться</button>
                </form>
              </div>
            </div>
            <div class="col-lg-5 col-md-7 ms-footer-col ms-footer-alt-color">
              <div class="ms-footbar-block">
                <h3 class="ms-footbar-title text-center mb-2">Информация</h3>
                <div class="ms-footer-media">
                  <div class="media">
                    <div class="media-body">
                      <h4 class="media-heading">ПРЕДУПРЕЖДЕНИЕ: Операции на российских и международных рынках содержат в себе высокий уровень риска. Администрация сайта
                                    pandoratradingsolutions.ru напоминает вам, что данные, предоставленные на данном сайте, не
                                    обязательно даны в режиме реального времени и могут не являться точными. Все цены на акции, индексы, фьючерсы носят
                                    ориентировочный характер и на них нельзя полагаться при торговле. Таким образом, администрация сайта
                                    pandoratradingsolutions.ru не несет никакой ответственности за любые убытки, которые вы можете понести в результате
                                    использования информации, содержащейся на этом сайте, котировок, графиков и сигналов.</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-5 ms-footer-col ms-footer-text-right">
              <div class="ms-footbar-block">
                <div class="ms-footbar-title">
                  <h3 class="no-m ms-site-title"><span>Pandora</span>TradingSolutions</h3>
                </div>
                <address class="no-mb">
                  <p><i class="color-warning-light zmdi zmdi-map mr-1"></i> Moscow, Russian Federation</p>
                  <p><i class="color-info-light zmdi zmdi-email mr-1"></i> <a href="mailto:info@pandoratradingsolutions.ru">info@pandoratradingsolutions.ru</a></p>
                </address>
              </div>
              <div class="ms-footbar-block">
                <h3 class="ms-footbar-title">Social Media</h3>
                <div class="ms-footbar-social">
                  <a href="{% url 'coming' %}" class="btn-circle btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                  <a href="{% url 'coming' %}" class="btn-circle btn-google"><i class="zmdi zmdi-google"></i></a>
                  <a href="{% url 'coming' %}" class="btn-circle btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>
      <footer class="ms-footer">
        <div class="container">
          <p>Copyright &copy; pandoratradingsolutions.ru 2020</p>
            <p>Все права защищены. Любое использование либо копирование материалов или подборки материалов сайта,
                элементов дизайна и оформления допускается лишь с разрешения правообладателя и только со ссылкой на
                источник: www.pandoratradingsolutions.ru
            </p>
        </div>
      </footer>
      <div class="btn-back-top">
        <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised "><i class="zmdi zmdi-long-arrow-up"></i></a>
      </div>
    </div> <!-- ms-site-container -->
    <div class="ms-slidebar sb-slidebar sb-left sb-style-overlay" id="ms-slidebar">
      <div class="sb-slidebar-container">
        <header class="ms-slidebar-header">
          <div class="ms-slidebar-login">
            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="withripple"><i class="zmdi zmdi-account"></i> {{ user.username }}</a>
            <a href="{% url 'logout' %}" class="withripple"><i class="zmdi zmdi-run"></i> Выход</a>
            {% else %}
            <a href="{% url 'login' %}" class="withripple"><i class="zmdi zmdi-account"></i> Login</a>
            <a href="{% url 'signup' %}" class="withripple"><i class="zmdi zmdi-account-add"></i> Register</a>
            {% endif %}
          </div>
          <div class="ms-slidebar-title">

            <div class="ms-slidebar-t">
              <h3><span>Pandora</span> Trading Solutions</h3>
            </div>
          </div>
        </header>
        <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
          <li class="card" role="tab" id="sch1">
            <a class="collapsed" role="button" data-toggle="collapse" href="#sc1" aria-expanded="false" aria-controls="sc1">
              <i class="zmdi zmdi-home"></i> Карта сайта </a>
            <ul id="sc1" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch1" data-parent="#slidebar-menu">
              <li><a href="/">Главная</a></li>
              <li><a href="{% url 'dailyAnalysis' %}">Аналитика</a></li>
              <li><a href="{% url 'predictions' %}">Прогнозы</a></li>
              <li><a href="{% url 'how-to-use' %}">Как пользоваться сайтом</a></li>
              <li><a href="https://forum.pandoratradingsolutions.ru/index.php">Форум</a></li>
            </ul>
          </li>
          <li class="card" role="tab" id="sch2">
            <a class="collapsed" role="button" data-toggle="collapse" href="#sc2" aria-expanded="false" aria-controls="sc2">
              <i class="zmdi zmdi-desktop-mac"></i> Стратегии </a>
            <ul id="sc2" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch2" data-parent="#slidebar-menu">
              <li><a href="{% url 'how-to-use_elder' %}">Стратегия экраны Элдера</a></li>
              <li><a href="{% url 'how-to-use_channel' %}">Канальная стратегия</a></li>
              <li><a href="{% url 'how-to-use_divbar' %}">Стратегия дивергентный бар</a></li>
              <li><a href="{% url 'how-to-use_volatility' %}">Стратегия прорыв волатильности</a></li>
              <li><a href="{% url 'how-to-use_NR4ID' %}">Стратегия NR4/ID</a></li>
            </ul>
          </li>
        </ul>
        <div class="ms-slidebar-social ms-slidebar-block">
          <h4 class="ms-slidebar-block-title">Social Links</h4>
          <div class="ms-slidebar-social">
            <a href="{% url 'coming' %}" class="btn-circle btn-circle-raised btn-facebook"><i class="zmdi zmdi-facebook"></i> <!-- <span class="badge-pill badge-pill-pink">12</span> -->
              <div class="ripple-container"></div>
            </a>
            <a href="{% url 'coming' %}" class="btn-circle btn-circle-raised btn-google"><i class="zmdi zmdi-google"></i>
              <div class="ripple-container"></div>
            </a>
            <a href="{% url 'coming' %}" class="btn-circle btn-circle-raised btn-instagram"><i class="zmdi zmdi-instagram"></i>
              <div class="ripple-container"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static "pandoratradingsolution/assets/js/plugins.min.js" %}"></script>
    <script src="{% static "pandoratradingsolution/assets/js/app.min.js" %}"></script>
  </body>
</html>