{% extends "account/ms_account_forms.html" %}

{% block title %} Сброс пароля {% endblock %}

{% block form %}
<div class="card-header">
    <h3 class="card-title">Сброс пароля</h3>
</div>
<div class="card-body card-body-big">

    {% if validlink %}
        <p>
            Пожалуйста введите новый пароль дважды:
        </p>

        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                  <div class="row form-group">
                    <label for="{{ form.password1.id_for_label }}" class="col-md-2 control-label">Пароль</label>
                    <div class="col-md-9">
                      <input type="password" class="form-control" id="{{ form.password1.id_for_label }}" name="password1" placeholder="Пароль" title="{{ form.password1.help_text }}">
                      {% for error in form.password1.errors %}
                        <p class="color-danger">{{ error }}</p>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="row form-group">
                    <label for="{{ form.password2.id_for_label }}" class="col-md-2 control-label">Пароль еще раз</label>
                    <div class="col-md-9">
                      <input type="password" class="form-control" id="{{ form.password2.id_for_label }}" name="password2" placeholder="Пароль" title="{{ form.password2.help_text }}">
                      {% for error in form.password2.errors %}
                        <p class="color-danger">{{ error }}</p>
                      {% endfor %}
                    </div>
                  </div>
            </fieldset>
            <div class="form-group row justify-content-end">
              <div class="col-lg-10">
                <input type="submit" class="btn btn-raised btn-primary" value="Изменить пароль">
              </div>
            </div>
        </form>
    {% else %}
        <p>
            Ссылка для сброса пароль недействительна, возможно она уже была использована. Пожалуйста запросите новую ссылку.
        </p>
    {% endif %}
</div>
{% endblock %}