{% extends "account/ms_account_forms.html" %}

{% block title %} Сброс пароля {% endblock %}

{% block form %}
<div class="card-header">
    <h3 class="card-title">Забыли пароль</h3>
</div>
<div class="card-body card-body-big">

      <p>Введите свой электронный адрес, чтобы получить новый пароль.</p>

      <form class="form-horizontal" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset>
              <div class="row form-group">
                <label for="{{ form.email.id_for_label }}" class="col-md-2 control-label">Email</label>
                <div class="col-md-9">
                  <input type="email" class="form-control" id="{{ form.email.id_for_label }}" name="email" placeholder="Email" title="{{ form.email.help_text }}">
                  {% for error in form.email.errors %}
                    <p class="color-danger">{{ error }}</p>
                  {% endfor %}
                </div>
              </div>
          </fieldset>

          <div class="form-group row justify-content-end">
            <div class="col-lg-10">
                <input type="submit" class="btn btn-raised btn-primary" value="Отправить e-mail">
            </div>
          </div>
      </form>
</div>
{% endblock %}