{% extends "account/ms_account_forms.html" %}

{% block title %} Сброс пароля {% endblock %}

{% block form %}
<div class="card-header">
    <h3 class="card-title">Сброс пароля</h3>
</div>
<div class="card-body card-body-big">

    {% if validlink %}
        <p>Пожалуйста введите новый пароль дважды:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Изменить пароль"/></p>
        </form>
    {% else %}
        <p>Ссылка для сброса пароль недействительна, возможно она уже была использована. Пожалуйста запросите новую ссылку.</p>
    {% endif %}
</div>
{% endblock %}