{% extends "pandoratradingsolution/base.html" %}

{% load blog_tags %}
{% load static %}

{% block title %} Список доступных тикеров {% endblock %}

{% block content %}
<h4>Список доступных тикеров</h4>

{% if page_obj %}
<table>
    <thead>
        <tr>
            <td>Рынок</td>
            <td width="400px">Полное наименование</td>
            <td>Тикер</td>
            <td>Сайт</td>
        </tr>
    </thead>
    <tbody>
        {% for ticker in page_obj %}
            <tr>
                <td>{{ ticker.market }}</td>
                <td><a href="{% url 'marketDictionary:detail' ticker.short_name %}">{{ ticker.full_name }}</a></td>
                <td>{{ ticker.short_name }}</td>
                <td>{{ ticker.site }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <div>Нет доступных тикеров</div>
{% endif %}

    <br>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; первая</a>
                <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">следующая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
            {% endif %}
        </span>
    </div>
    <br>

{% endblock %}