{% extends "pandoratradingsolution/ms_base.html" %}

{% load marketdict_tags %}
{% load predict_tags %}
{% load static %}

{% block title %}Качественный прогноз и аналитика динамики стоимости акций компании {{ ticker.full_name }} ({{ ticker.short_name }}) на 2020 год. Рекомендации на основе искусственного интеллекта - Pandora Trading Solutions {% endblock %}
{% block description %}Показатели, рекомендации по покупке и продаже акций {{ ticker.full_name }} ({{ ticker.short_name }}). Прогнозы, обзор, технический анализ на основе искусствуенного интеллекта от pandoratradingsolutions.ru. Узнайте подробнее!{% endblock %}
{% block keywords %}инвестирование, торговля, акции РФ, {{ ticker.ticker_name }}, {{ ticker.short_name }}, торговые сигналы, инвестиции, трейдинг, прогноз, прогнозы, искусственный интеллект, биржа, фондовый рынок, анализ, аналитика, технический анализ{% endblock %}

{% block og-title %}Качественный прогноз и аналитика динамики стоимости акций компании {{ ticker.full_name }} ({{ ticker.short_name }}) на 2020 год. Рекомендации на основе искусственного интеллекта{% endblock %}
{% block og-image %}{% static 'pandoratradingsolution/vertical_tagline_on_corporate.png' %} {% endblock %}
{% block og-description %}Показатели, рекомендации по покупке и продаже акций {{ ticker.full_name }} ({{ ticker.short_name }}). Прогнозы, обзор, технический анализ на основе искусствуенного интеллекта от pandoratradingsolutions.ru.{% endblock %}

{% block content %}

<div class="ms-site-container">
<!-- Modal -->
    <div class="ms-hero-page-override ms-hero-img-coffee ms-bg-fixed ms-hero-bg-primary">
        <div class="container">
          <div class="text-center mt-2">
            <h1 class="color-white mt-4 animated fadeInUp animation-delay-10">{{ ticker.full_name }}</h1>
            <h3 class="color-medium no-mb animated fadeInUp animation-delay-10">{{ ticker.short_name }}</h3>
          </div>
        </div>
    </div>

    <div class="container">
        <div class="card card-hero card-primary animated fadeInUp animation-delay-7">
          <div class="card-header-100 bg-primary-dark">
            <div class="row justify-content-center">
              <div class="col col-md-2">
                <div class="text-center">
                  <h3><strong>{{ post_count }}</strong></h3> Аналитика
                </div>
              </div>
              <div class="col col-md-2">
                <div class="text-center">
                  <h3><strong>{{ prediction_count }}</strong> </h3> Прогнозы
                </div>
              </div>
              <div class="col col-md-2">
                <div class="text-center">
                  <h3><strong>0</strong></h3> Комментарии
                </div>
              </div>
            </div>
          </div>

          <p>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-slash" itemscope itemtype="https://schema.org/BreadcrumbList">
                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <a href="/" itemprop="item"><span itemprop="name">Главная</span></a>
                        <meta itemprop="position" content="1" />
                    </li>
                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <a href="{% url 'marketDictionary:marketDictionary' %}" itemprop="item"><span itemprop="name">Инструменты</span></a>
                        <meta itemprop="position" content="2" />
                    </li>
                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <span itemprop="name">{{ ticker.full_name }}</span>
                        <meta itemprop="position" content="3" />
                    </li>
                </ol>
              </nav>
          </p>

            <div class="row">
                <div class="col-lg-4">
                  <div class="card-body">
                    <h2 class="color-primary no-mb">Информация об эмитенте</h2>
                  </div>
                  <table class="table table-no-border table-striped">
                    <tr>
                      <th> Название</th>
                      <td>{{ ticker.ticker_name }}</td>
                    </tr>
                    <tr>
                      <th> Идентификатор</th>
                      <td>{{ ticker.short_name }}</td>
                    </tr>
                    <tr>
                      <th> Полное название</th>
                      <td>{{ ticker.full_name }}</td>
                    </tr>
                    <tr>
                      <th> Рынок</th>
                      <td>{{ ticker.market }}</td>
                    </tr>
                    <tr>
                      <th> Website</th>
                        <td><noindex><a href="http:\\{{ ticker.site }}" target="_blank" rel="nofollow">{{ ticker.site }}</a></noindex></td>
                    </tr>
                  </table>
                </div>
                <div class="col-lg-8">
                    <div class="card-body mt-1">
                        <p>{{ ticker.seo_content }}</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12 ml-2 mr-2">
                    <h2 class="color-primary">Актуальные прогнозы цены на акции эмитента {{ ticker.ticker_name }}({{ ticker.short_name }})</h2>
                    <p>С прогнозами по другим инструментам Российской фондовой биржи, вы можете ознакомиться
                        в соответствующем <a href="{% url 'predictions' %}">разделе</a>.</p>
                </div>
            </div>
            <div class="row ml-1 mr-1 mb-2">
                {% for prediction in prediction_ticker_list %}
                <div class="col-sm-2">
                    <div class="ms-collapse" id="accordion_w1_{{ prediction.ticker.short_name }}" role="tablist" aria-multiselectable="true">
                        <div class="mb-0 card {{ prediction.1w.prctChange|price_color }}">
                            <div class="card-header" role="tab" id="heading_w1_{{ prediction.ticker.short_name }}">
                                <h4 class="card-title">
                                    <a class="collapsed withripple" role="button" data-toggle="collapse" data-parent="#accordion_w1_{{ prediction.ticker.short_name }}" href="#collapse_w1_{{ prediction.ticker.short_name }}" aria-expanded="false" aria-controls="collapse_w1_{{ prediction.ticker.short_name }}">
                                        <i class="{{ prediction.1w.prctChange|icon_type }}"></i>
                                        <span class="lead lead-lg">{{ prediction.1w.prctChange }}%</span>
                                        <span class="ml-auto badge badge-default">{{ prediction.1w.created|predictiondate:prediction.1w.horizon.lag|date:"d.m.Y" }}</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_w1_{{ prediction.ticker.short_name }}" class="card-collapse collapse" role="tabpanel" aria-labelledby="heading_w1_{{ prediction.ticker.short_name }}">
                                <div class="card-body">
                                    <p class="text-small text-justify">
                                        {% if prediction.1w.predictprice == 0 %}
                                                Нет данных
                                        {% else %}
                                            К дате {{ prediction.1w.created|predictiondate:prediction.1w.horizon.lag|date:"d.m.Y" }}
                                            с вероятностью {{ prediction.1w.probability|predictionproba}}
                                            ожидаемое значение цены <b>{{ prediction.1w.predictprice|predictionprice:prediction.1w.prctChange }}</b>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="ms-collapse" id="accordion_w2_{{ prediction.ticker.short_name }}" role="tablist" aria-multiselectable="true">
                        <div class="mb-0 card {{ prediction.2w.prctChange|price_color }}">
                            <div class="card-header" role="tab" id="heading_w2_{{ prediction.ticker.short_name }}">
                                <h4 class="card-title">
                                    <a class="collapsed withripple" role="button" data-toggle="collapse" data-parent="#accordion_w2_{{ prediction.ticker.short_name }}" href="#collapse_w2_{{ prediction.ticker.short_name }}" aria-expanded="false" aria-controls="collapse_w2_{{ prediction.ticker.short_name }}">
                                        <i class="{{ prediction.2w.prctChange|icon_type }}"></i>
                                        <span class="lead lead-lg">{{ prediction.2w.prctChange }}%</span>
                                        <span class="ml-auto badge badge-default">{{ prediction.2w.created|predictiondate:prediction.2w.horizon.lag|date:"d.m.Y" }}</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_w2_{{ prediction.ticker.short_name }}" class="card-collapse collapse" role="tabpanel" aria-labelledby="heading_w2_{{ prediction.ticker.short_name }}">
                                <div class="card-body">
                                    <p class="text-small text-justify">
                                        {% if prediction.2w.predictprice == 0 %}
                                                Нет данных
                                        {% else %}
                                            К дате {{ prediction.2w.created|predictiondate:prediction.2w.horizon.lag|date:"d.m.Y" }}
                                            с вероятностью {{ prediction.2w.probability|predictionproba}}
                                            ожидаемое значение цены <b>{{ prediction.2w.predictprice|predictionprice:prediction.2w.prctChange }}</b>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="ms-collapse" id="accordion_m1_{{ prediction.ticker.short_name }}" role="tablist" aria-multiselectable="true">
                        <div class="mb-0 card {{ prediction.1m.prctChange|price_color }}">
                            <div class="card-header" role="tab" id="heading_m1_{{ prediction.ticker.short_name }}">
                                <h4 class="card-title">
                                    <a class="collapsed withripple" role="button" data-toggle="collapse" data-parent="#accordion_m1_{{ prediction.ticker.short_name }}" href="#collapse_m1_{{ prediction.ticker.short_name }}" aria-expanded="false" aria-controls="collapse_m1_{{ prediction.ticker.short_name }}">
                                        <i class="{{ prediction.1m.prctChange|icon_type }}"></i>
                                        <span class="lead lead-lg">{{ prediction.1m.prctChange }}%</span>
                                        <span class="ml-auto badge badge-default">{{ prediction.1m.created|predictiondate:prediction.1m.horizon.lag|date:"d.m.Y" }}</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_m1_{{ prediction.ticker.short_name }}" class="card-collapse collapse" role="tabpanel" aria-labelledby="heading_m1_{{ prediction.ticker.short_name }}">
                                <div class="card-body">
                                    <p class="text-small text-justify">
                                        {% if prediction.1m.predictprice == 0 %}
                                                Нет данных
                                        {% else %}
                                            К дате {{ prediction.1m.created|predictiondate:prediction.1m.horizon.lag|date:"d.m.Y" }}
                                            с вероятностью {{ prediction.1m.probability|predictionproba}}
                                            ожидаемое значение цены <b>{{ prediction.1m.predictprice|predictionprice:prediction.1m.prctChange }}</b>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="ms-collapse" id="accordion_m3_{{ prediction.ticker.short_name }}" role="tablist" aria-multiselectable="true">
                        <div class="mb-0 card {{ prediction.3m.prctChange|price_color }}">
                            <div class="card-header" role="tab" id="heading_m3_{{ prediction.ticker.short_name }}">
                                <h4 class="card-title">
                                    <a class="collapsed withripple" role="button" data-toggle="collapse" data-parent="#accordion_m3_{{ prediction.ticker.short_name }}" href="#collapse_m3_{{ prediction.ticker.short_name }}" aria-expanded="false" aria-controls="collapse_m3_{{ prediction.ticker.short_name }}">
                                        <i class="{{ prediction.3m.prctChange|icon_type }}"></i>
                                        <span class="lead lead-lg">{{ prediction.3m.prctChange }}%</span>
                                        <span class="ml-auto badge badge-default">{{ prediction.3m.created|predictiondate:prediction.3m.horizon.lag|date:"d.m.Y" }}</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_m3_{{ prediction.ticker.short_name }}" class="card-collapse collapse" role="tabpanel" aria-labelledby="heading_m3_{{ prediction.ticker.short_name }}">
                                <div class="card-body">
                                    <p class="text-small text-justify">
                                        {% if prediction.3m.predictprice == 0 %}
                                            Нет данных
                                        {% else %}
                                            К дате {{ prediction.3m.created|predictiondate:prediction.3m.horizon.lag|date:"d.m.Y" }}
                                            с вероятностью {{ prediction.3m.probability|predictionproba}}
                                            ожидаемое значение цены <b>{{ prediction.3m.predictprice|predictionprice:prediction.3m.prctChange }}</b>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="ms-collapse" id="accordion_m6_{{ prediction.ticker.short_name }}" role="tablist" aria-multiselectable="true">
                        <div class="mb-0 card {{ prediction.6m.prctChange|price_color }}">
                            <div class="card-header" role="tab" id="heading_m6_{{ prediction.ticker.short_name }}">
                                <h4 class="card-title">
                                    <a class="collapsed withripple" role="button" data-toggle="collapse" data-parent="#accordion_m6_{{ prediction.ticker.short_name }}" href="#collapse_m6_{{ prediction.ticker.short_name }}" aria-expanded="false" aria-controls="collapse_m6_{{ prediction.ticker.short_name }}">
                                        <i class="{{ prediction.6m.prctChange|icon_type }}"></i>
                                        <span class="lead lead-lg">{{ prediction.6m.prctChange }}%</span>
                                        <span class="ml-auto badge badge-default">{{ prediction.6m.created|predictiondate:prediction.6m.horizon.lag|date:"d.m.Y" }}</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_m6_{{ prediction.ticker.short_name }}" class="card-collapse collapse" role="tabpanel" aria-labelledby="heading_m6_{{ prediction.ticker.short_name }}">
                                <div class="card-body">
                                    <p class="text-small text-justify">
                                        {% if prediction.6m.predictprice == 0 %}
                                                Нет данных
                                        {% else %}
                                            К дате {{ prediction.6m.created|predictiondate:prediction.6m.horizon.lag|date:"d.m.Y" }}
                                            с вероятностью {{ prediction.6m.probability|predictionproba}}
                                            ожидаемое значение цены <b>{{ prediction.6m.predictprice|predictionprice:prediction.6m.prctChange }}</b>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="ms-collapse" id="accordion_1y_{{ prediction.ticker.short_name }}" role="tablist" aria-multiselectable="true">
                        <div class="mb-0 card {{ prediction.1y.prctChange|price_color }}">
                            <div class="card-header" role="tab" id="heading_1y_{{ prediction.ticker.short_name }}">
                                <h4 class="card-title">
                                    <a class="collapsed withripple" role="button" data-toggle="collapse" data-parent="#accordion_1y_{{ prediction.ticker.short_name }}" href="#collapse_1y_{{ prediction.ticker.short_name }}" aria-expanded="false" aria-controls="collapse_1y_{{ prediction.ticker.short_name }}">
                                        <i class="{{ prediction.1y.prctChange|icon_type }}"></i>
                                        <span class="lead lead-lg">{{ prediction.1y.prctChange }}%</span>
                                        <span class="ml-auto badge badge-default">{{ prediction.1y.created|predictiondate:prediction.1y.horizon.lag|date:"d.m.Y" }}</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_1y_{{ prediction.ticker.short_name }}" class="card-collapse collapse" role="tabpanel" aria-labelledby="heading_1y_{{ prediction.ticker.short_name }}">
                                <div class="card-body">
                                    <p class="text-small text-justify">
                                        {% if prediction.1y.predictprice == 0 %}
                                                Нет данных
                                        {% else %}
                                            К дате {{ prediction.1y.created|predictiondate:prediction.1y.horizon.lag|date:"d.m.Y" }}
                                            с вероятностью {{ prediction.1y.probability|predictionproba}}
                                            ожидаемое значение цены <b>{{ prediction.1y.predictprice|predictionprice:prediction.1y.prctChange }}</b>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <img src="{% static 'pandoratradingsolution/vertical_tagline_on_corporate.png' %}" alt="vertical_logo" class="img-fluid ml-2">
                </div>
                <div class="col-lg-8">
                    <div class="card-body no-pt">
                    <h2 class="color-primary">Аналитика эмитента {{ ticker.ticker_name }}({{ ticker.short_name }})</h2>
                      {% for p in post_list %}
                          <article class="card wow fadeInLeft animation-delay-5 mb-2" style="visibility: visible; animation-name: fadeInLeft;">
                                <div class="card-body overflow-hidden overflow-hidden">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <a href="{% url 'detail' p.slug_url %}"><img src="{% get_media_prefix %}{{ p.get_overview.img }}" alt="article-img {{ p.ticker.short_name }} - {{ p.date_analysis|date:'yy-m-d' }}" class="img-fluid"></a>
                                        </div>
                                        <div class="col-xl-6">
                                            <h4 class="no-m"><a href="{% url 'detail' p.slug_url %}">{{ p.header }}</a></h4>
                                            <p>{{ p.get_overview.description|content_preview }}</p>
                                        </div>
                                    </div>
                                    <div class="row align-items-center justify-content-between">
                                        <div class="cols-lg-8">
                                            <a href="{% url 'dailyAnalysis' %}" class="ms-tag ms-tag-info">Аналитика</a>
                                            <span class="ml-1 d-none d-sm-inline">
                                                <i class="zmdi zmdi-time mr-05 color-info"> {{ p.date_analysis|date:'d-m-yy' }}</i>
                                            </span>
                                        </div>
                                        <div class="cols-lg-4 text-right">
                                            <a href="{% url 'detail' p.slug_url %}" class="btn btn-primary btn-raised btn-block animate-icon">
                                                Читать далее <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                          </article>
                      {% endfor %}
                  </div>
                </div>
            </div>
        </div>
    </div> <!-- container -->


    <div class="btn-back-top">
        <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised "><i class="zmdi zmdi-long-arrow-up"></i></a>
    </div>
</div> <!-- ms-site-container -->

{% endblock %}