{% extends "pandoratradingsolution/base.html" %}

{% load blog_tags %}
{% load static %}

{% block title %} {{ post.header }} {% endblock %}
{% block content %}

<h2>{{ post.header }}</h2>

<div>
    <h6>ПРЕДУПРЕЖДЕНИЕ: Операции на российских и международных рынках содержат в себе высокий уровень риска. Администрация сайта
    pandoratradingsolutions.ru напоминает вам, что данные, предоставленные на данном сайте, не
    обязательно даны в режиме реального времени и могут не являться точными. Все цены на акции, индексы, фьючерсы носят
    ориентировочный характер и на них нельзя полагаться при торговле. Таким образом, администрация сайта
    pandoratradingsolutions.ru не несет никакой ответственности за любые убытки, которые вы можете понести в результате
    использования информации, содержащейся на этом сайте, котировок, графиков и сигналов.<br><br></h6>
</div>

<ul>
    {{ post.content|media_url:"media_url/"|markdown }} <br>

    <br><br>

    <a href="{% url 'dailyAnalysis' %}">Назад к списку</a>
</ul>

{% endblock %}