{% extends "pandoratradingsolution/base.html" %}

{% load blog_tags %}
{% load static %}

{% block title %} Список статей {% endblock %}

{% block content %}

<div>
    Фильтр: <br>
    <form action="/dailyanalysis/" method="get">
        <table>
            <tr>
                <td width="25%">
                    <label for="post_date">Дата: </label>
                    <input id="post_date" type="date" name="post_date" value="{{ post_date }}" size="10">
                </td>
                <td width="25%">
                    <label for="post_ticker">Тикер: </label>
                    <input id="post_ticker" type="text" name="post_ticker" value="{{ post_ticker }}" size="10">
                </td>
                <td width="25%">
                    <label for="post_sig_only">Есть сигнал: </label>
                    <input id="post_sig_only" type="checkbox" name="post_sig_only" value="True">
                </td>
                <td width="25%">
                    <input class="button" type="submit" value="Find">
                </td>
            </tr>
        </table>
    </form>
</div>

{% if page_obj %}
    <table>
        <thead>
            <tr>
                <td>Тикер</td>
                <td>Дата</td>
                <td width="100px">Три экрана Элдера</td>
                <td width="100px">Канальная стратегия</td>
                <td width="100px">Дивергентный бар</td>
                <td width="100px">NR4ID</td>
                <td width="100px">Прорыв волатильности</td>
            </tr>
        </thead>
        <tbody>
            {% for post in page_obj %}
            <tr>
                <td><a href="{% url 'detail' post.slug_url %}">{{ post.ticker }}</a></td>
                <td><a href="{% url 'detail' post.slug_url %}">{{ post.date_analysis|date:"d-m-Y" }}</a></td>
                <td><a href="{% url 'detail' post.slug_url %}">{{ post.sig_elder|buysell_signal:post.sig_elder_proba }}</a></td>
                <td><a href="{% url 'detail' post.slug_url %}">{{ post.sig_channel|buysell_signal:post.sig_channel_proba }}</a></td>
                <td><a href="{% url 'detail' post.slug_url %}">{{ post.sig_DivBar|buysell_signal:post.sig_DivBar_proba }}</a></td>
                <td><a href="{% url 'detail' post.slug_url %}">{{ post.sig_NR4ID|signal:post.sig_NR4ID_proba }}</a></td>
                <td><a href="{% url 'detail' post.slug_url %}">{{ post.sig_breakVolatility|signal:post.sig_breakVolatility_proba }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; первая</a>
                <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">следующая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
            {% endif %}
        </span>
    </div>
    <br>
{% else %}
    <p>Нет публикаций, удовлетворяющих условиям отбора</p>
{% endif %}

<div>
    <h6>ПРЕДУПРЕЖДЕНИЕ: Операции на российских и международных рынках содержат в себе высокий уровень риска. Администрация сайта
    pandoratradingsolutions.ru напоминает вам, что данные, предоставленные на данном сайте, не
    обязательно даны в режиме реального времени и могут не являться точными. Все цены на акции, индексы, фьючерсы носят
    ориентировочный характер и на них нельзя полагаться при торговле. Таким образом, администрация сайта
    pandoratradingsolutions.ru не несет никакой ответственности за любые убытки, которые вы можете понести в результате
    использования информации, содержащейся на этом сайте, котировок, графиков и сигналов.<br><br></h6>
</div>

{% endblock %}