{% extends "pandoratradingsolution/ms_blog.html" %}

{% load blog_tags %}
{% load static %}

{% block title %} Ежедневная аналитика акций компании {{ post.ticker.ticker_name }} ({{ post.ticker.short_name }}) за {{ post.date_analysis|date:'d.m.Y' }} основанная на работе искусственного интеллекта {% endblock %}
{% block description %}Качественный технический анализ акций компании {{ post.ticker.ticker_name }} ({{ post.ticker.short_name }}) за {{ post.date_analysis|date:'d.m.Y' }}. Торговые сигналы основанные на предсказаниях искусственного интеллекта.{% endblock %}
{% block keywords %}инвестирование, торговля, акции РФ, {{ post.ticker.ticker_name }}, {{ post.ticker.short_name }}, торговые сигналы, инвестиции, трейдинг, прогноз, прогнозы, искусственный интеллект, биржа, фондовый рынок, анализ, аналитика, технический анализ{% endblock %}

{% block post %}

<div class="col-lg-8">
  <div class="card animated fadeInLeftTiny animation-delay-5">
    <div class="card-body card-body-big">

      <div xmlns:v="http://rdf.data-vocabulary.org/#">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-slash">
              <li class="breadcrumb-item" typeof="v:Breadcrumb"><a href="/" rel="v:url" property="v:title">Главная</a></li>
              <li class="breadcrumb-item" typeof="v:Breadcrumb"><a href="{% url 'dailyAnalysis' %}" rel="v:url" property="v:title">Аналитика</a></li>
              <li class="breadcrumb-item active" typeof="v:Breadcrumb">Ежедневная аналитика акций компании {{ post.ticker.ticker_name }} ({{ post.ticker.short_name }}) за {{ post.date_analysis|date:'d.m.Y' }}</li>
          </ol>
        </nav>
      </div>

      <h1 class="no-mt">Ежедневная аналитика акций компании {{ post.ticker.ticker_name }} ({{ post.ticker.short_name }}) за {{ post.date_analysis|date:'d.m.Y' }}</h1>
      <div class="mb-4">
        <a href="{% url 'dailyAnalysis' %}" class="ms-tag ms-tag-info">Аналитика</a>
      </div>

      {{ post.content|media_url:"media_url/"|markdown }}

    </div>
  </div>
</div>

{% endblock %}