{% extends "pandoratradingsolution/ms_base.html" %}

{% load blog_tags %}
{% load static %}

{% block title %} Аналитика {% endblock %}

{% block content %}

      <header class="ms-hero-page ms-hero-bg-info ms-hero-img-airplane mb-4">
        <div class="container">
          <div class="text-center">
            <h1 class="color-warning mb-4 animated fadeInDown animation-delay-4">Аналитика</h1>
            <p class="lead lead-xl mw-800 center-block color-medium mb-2 animated fadeInDown animation-delay-4"> Лучшая аналитическая информация <span class="colorStar">по торговым инструментам</span>. <br> Используй <span class="colorStar animation-delay-10">торговые возможности</span> по максимуму. </p>
          </div>
        </div>
      </header>
      <div class="container">
        <div class="row pricing-table-container">

            <div class="card card-primary" style="width:100%">
                <div class="card-header">
                    <h3 class="card-title">Фильтр</h3>
                </div>
                <form action="/dailyanalysis/" method="get">
                    <div class="form-group row">
                        <div class="form-group row w-25 center-block">
                            <label for="post_date" class="col-lg-10 control-label">Дата:</label>
                            <div class="col-lg-10">
                                <input id="post_date" name="post_date" type="date" class="form-control" value="{{ post_date }}">
                            </div>
                        </div>
                        <div class="form-group row w-25 center-block">
                            <label for="post_ticker" autocomplete="false" class="col-lg-10 control-label">Тикер:</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="post_ticker" name="post_ticker" value="{{ post_ticker }}">
                            </div>
                        </div>
                        <div class="w-25 d-flex justify-content-center align-items-center">
                            <div class="col-lg-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="post_sig_only" value="True"> Есть сигнал
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="w-25 d-flex justify-content-center align-items-center">
                            <button type="submit" class="btn btn-raised btn-primary">Найти</button>
                        </div>
                    </div>
                </form>
            </div>

            {% if page_obj %}
            <hr class="dotted">

            <div class="card card-primary table-responsive" style="width:100%">
                <div class="card-header">
                    <h3 class="card-title">Аналитика</h3>
                </div>
                <table class="table table-striped table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <td><center><b>Тикер</center></b></td>
                            <td><center><b>Дата</center></b></td>
                            <td width="100px"><center><b>Три экрана Элдера</center></b></td>
                            <td width="100px"><center><b>Канальная стратегия</center></b></td>
                            <td width="100px"><center><b>Дивергентный бар</center></b></td>
                            <td width="100px"><center><b>NR4ID</center></b></td>
                            <td width="100px"><center><b>Прорыв волатильности</center></b></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in page_obj %}
                        <tr>
                            <td><a href="{% url 'detail' post.id %}">{{ post.ticker.full_name }} ({{ post.ticker }})</a></td>
                            <td><a href="{% url 'detail' post.id %}">{{ post.date_analysis|date:"d-m-Y" }}</a></td>
                            <td><a href="{% url 'detail' post.id %}">{{ post.sig_elder|buysell_signal:post.sig_elder_proba }}</a></td>
                            <td><a href="{% url 'detail' post.id %}">{{ post.sig_channel|buysell_signal:post.sig_channel_proba }}</a></td>
                            <td><a href="{% url 'detail' post.id %}">{{ post.sig_DivBar|buysell_signal:post.sig_DivBar_proba }}</a></td>
                            <td><a href="{% url 'detail' post.id %}">{{ post.sig_NR4ID|signal:post.sig_NR4ID_proba }}</a></td>
                            <td><a href="{% url 'detail' post.id %}">{{ post.sig_breakVolatility|signal:post.sig_breakVolatility_proba }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                    <nav aria-label="...">
                    <ul class="pager pager-flat d-flex justify-content-between">
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">«</span> предыдущая</a></li>
                        {% endif %}
                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">следующая <span aria-hidden="true">»</span></a></li>
                        {% endif %}
                    </ul>
                </nav>
                <br>
            </div>
            {% else %}
                <p>Нет публикаций, удовлетворяющих условиям отбора</p>
            {% endif %}

{% endblock %}