{% extends "pandoratradingsolution/ms_base.html" %}

{% load blog_tags %}
{% load static %}

{% block title %}Технический анализ фондового рынка акций ММВБ (MOEX) российских компаний. Стоимость, котировки, советы по инвестированию.{% endblock %}
{% block description %}Обзор стоимости и котировок акций российский компаний на фондовом рынке ММВБ. Качественная техническая аналитика рынка на основе работы искусственного интеллекта.{% endblock %}
{% block keywords %}инвестирование, торговля, акции РФ, торговые сигналы, инвестиции, трейдинг, прогноз, прогнозы, искусственный интеллект, биржа, фондовый рынок, анализ, аналитика, технический анализ{% endblock %}

{% block og-title %}Технический анализ фондового рынка акций ММВБ (MOEX) российских компаний. Стоимость, котировки, советы по инвестированию{% endblock %}
{% block og-image %}{% static 'pandoratradingsolution/vertical_tagline_on_corporate.png' %} {% endblock %}
{% block og-description %}Обзор стоимости и котировок акций российский компаний на фондовом рынке ММВБ. Качественная техническая аналитика рынка на основе работы искусственного интеллекта.{% endblock %}

{% block content %}

      <header class="ms-hero-page ms-hero-bg-info ms-hero-img-airplane mb-4">
        <div class="container">
          <div class="text-center">
            <h1 class="color-warning mb-4 animated fadeInDown animation-delay-4">Аналитика</h1>
            <p class="lead lead-xl mw-800 center-block color-medium mb-2 animated fadeInDown animation-delay-4"> Лучшая аналитическая информация <span class="colorStar">по торговым инструментам</span>. <br> Используй <span class="colorStar animation-delay-10">торговые возможности</span> по максимуму. </p>
          </div>
        </div>
      </header>
      <div class="container">

        <div xmlns:v="http://rdf.data-vocabulary.org/#">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-slash">
                  <li class="breadcrumb-item" typeof="v:Breadcrumb"><a href="/" rel="v:url" property="v:title">Главная</a></li>
                  <li class="breadcrumb-item" typeof="v:Breadcrumb">Аналитика</li>
              </ol>
            </nav>
        </div>
        <div class="row pricing-table-container">
            <div class="card card-primary" style="width:100%">
                <div class="card-header">
                    <h3 class="card-title">Фильтр</h3>
                </div>
                <form action="/dailyanalysis/" method="get">
                    <div class="form-group row">
                        <div class="form-group row w-25 center-block">
                            <label for="post_date" class="col-lg-10 control-label">Дата:</label>
                            <div class="col-lg-10">
                                <input id="post_date" name="post_date" type="date" class="form-control" value="{{ post_date }}">
                            </div>
                        </div>
                        <div class="form-group row w-25 center-block">
                            <label for="post_ticker" autocomplete="false" class="col-lg-10 control-label">Тикер:</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="post_ticker" name="post_ticker" value="{{ post_ticker }}">
                            </div>
                        </div>
                        <div class="w-25 d-flex justify-content-center align-items-center">
                            <div class="col-lg-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="post_sig_only" value="True"> Есть сигнал
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="w-25 d-flex justify-content-center align-items-center">
                            <button type="submit" class="btn btn-raised btn-primary">Найти</button>
                        </div>
                    </div>
                </form>
            </div>

            {% if page_obj %}
            <div class="card card-primary table-responsive" style="width:100%">


                <div class="card-header">
                    <h3 class="card-title">Аналитика</h3>
                </div>
                <table class="table-sm table-striped table-hover" style="width:100%">
                    <thead class="thead-dark">
                        <tr>
                            <td><center><b>Инструмент</center></b></td>
                            <td><center><b>Дата</center></b></td>
                            <td width="100px"><center><b>Три экрана Элдера</center></b></td>
                            <td width="100px"><center><b>Канальная стратегия</center></b></td>
                            <td width="100px"><center><b>Дивергентный бар</center></b></td>
                            <td width="100px"><center><b>NR4ID</center></b></td>
                            <td width="100px"><center><b>Прорыв волатильности</center></b></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in page_obj %}
                        <tr>
                            <td><p><a href="{% url 'detail' post.slug_url %}"><i class="fa fa-line-chart color-info"></i> {{ post.ticker.ticker_name }} ({{ post.ticker }})</a></p></td>
                            <td><a href="{% url 'detail' post.slug_url %}">{{ post.date_analysis|date:"d-m-Y" }}</a></td>
                            <td>
                                {% if post.sig_elder != 0 %}
                                <div class="row col-xs-4 {{ post.sig_elder|price_color }}" title="Вероятность сигнала: {{ post.sig_elder_proba|perc_format }}"><span class="mr-2 ms-icon-sm ms-icon-circle ms-icon-inverse {{ post.sig_elder|price_color }}"><i class="{{ post.sig_elder|icon_type }}"></i></span>{{ post.sig_elder|buysell_signal }}</div>
<!--                                <div class="row col-xs-4 color-info"><span class="mr-2 ms-icon-sm ms-icon-circle ms-icon-inverse color-info"><i class="zmdi zmdi-info"></i></span>{{ post.sig_elder_proba}}</div></td>-->
                                {% endif %}
                            </td>
                            <td>
                                {% if post.sig_channel != 0 %}
                                <div class="row col-xs-4 {{ post.sig_channel|price_color }}" title="Вероятность сигнала: {{ post.sig_channel_proba|perc_format }}"><span class="mr-2 ms-icon-sm ms-icon-circle ms-icon-inverse {{ post.sig_channel|price_color }}"><i class="{{ post.sig_channel|icon_type }}"></i></span>{{ post.sig_channel|buysell_signal }}</div>
<!--                                <div class="row col-xs-4 color-info"><span class="mr-2 ms-icon-sm ms-icon-circle ms-icon-inverse color-info"><i class="zmdi zmdi-info"></i></span>{{ post.sig_channel_proba}}</div></td>-->
                                {% endif %}
                            </td>
                            <td>
                                {% if post.sig_DivBar != 0 %}
                                <div class="row col-xs-4 {{ post.sig_DivBar|price_color }}" title="Вероятность сигнала: {{ post.sig_DivBar_proba|perc_format }}"><span class="mr-2 ms-icon-sm ms-icon-circle ms-icon-inverse {{ post.sig_DivBar|price_color }}"><i class="{{ post.sig_DivBar|icon_type }}"></i></span>{{ post.sig_DivBar|buysell_signal }}</div>
<!--                                <div class="row col-xs-4 color-info"><span class="mr-2 ms-icon-sm ms-icon-circle ms-icon-inverse color-info"><i class="zmdi zmdi-info"></i></span>{{ post.sig_DivBar_proba}}</div></td>-->
                                {% endif %}
                            </td>
                            <td>
                                {% if post.sig_NR4ID != 0 %}
                                <div class="row col-xs-4 color-warning" title="Вероятность сигнала: {{ post.sig_NR4ID_proba|perc_format }}"><span class="mr-2 ms-icon-sm ms-icon-circle ms-icon-inverse color-warning"><i class="fa fa-arrow-right"></i></span>Signal</div>
<!--                                <div class="row col-xs-4 color-info"><span class="mr-2 ms-icon-sm ms-icon-circle ms-icon-inverse color-info"><i class="zmdi zmdi-info"></i></span>{{ post.sig_NR4ID_proba}}</div></td>-->
                                {% endif %}
                            </td>
                            <td>
                                {% if post.sig_breakVolatility != 0 %}
                                <div class="row col-xs-4 color-warning" title="Вероятность сигнала: {{ post.sig_breakVolatility_proba|perc_format }}"><span class="mr-2 ms-icon-sm ms-icon-circle ms-icon-inverse color-warning"><i class="fa fa-arrow-right"></i></span>Signal</div>
                                <!-- <div class="row col-xs-4 color-info"><span class="mr-2 ms-icon-sm ms-icon-circle ms-icon-inverse color-info"><i class="zmdi zmdi-info"></i></span>{{ post.sig_breakVolatility_proba}}</div></td> -->
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                <nav aria-label="...">
                    <ul class="pager pager-flat d-flex justify-content-between">
                        {% if page_obj.has_previous %}
                            {% if page_obj.previous_page_number == 1 %}
                                <li class="page-item"><a class="page-link" href="{% url 'dailyAnalysis' %}"><span aria-hidden="true">«</span> предыдущая</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">«</span> предыдущая</a></li>
                            {% endif %}
                        {% endif %}
                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">следующая <span aria-hidden="true">»</span></a></li>
                        {% endif %}
                    </ul>
                </nav>
                <br>
            </div>
            {% else %}
                <p>Нет публикаций, удовлетворяющих условиям отбора</p>
            {% endif %}

{% endblock %}