{% extends "pandoratradingsolution/ms_base.html" %}

{% load blog_tags %}
{% load marketdict_tags %}
{% load static %}

{% block title %}Технический анализ фондового рынка акций ММВБ (MOEX) российских компаний. Стоимость, котировки, советы
по инвестированию  - Pandora Trading Solutions {% endblock %}
{% block description %}Обзор стоимости и котировок акций российский компаний на фондовом рынке ММВБ. Качественная
техническая аналитика рынка на основе работы искусственного интеллекта. Узнайте подробнее!{% endblock %}
{% block keywords %}инвестирование, торговля, акции РФ, торговые сигналы, инвестиции, трейдинг, прогноз, прогнозы,
искусственный интеллект, биржа, фондовый рынок, анализ, аналитика, технический анализ{% endblock %}

{% block og-title %}Технический анализ фондового рынка акций ММВБ (MOEX) российских компаний. Стоимость, котировки,
советы по инвестированию{% endblock %}
{% block og-image %}{% static 'pandoratradingsolution/vertical_tagline_on_corporate.png' %} {% endblock %}
{% block og-description %}Обзор стоимости и котировок акций российский компаний на фондовом рынке ММВБ. Качественная
техническая аналитика рынка на основе работы искусственного интеллекта.{% endblock %}

{% block content %}

<header class="ms-hero-page ms-hero-bg-info ms-hero-img-airplane mb-4">
<div class="container">
  <div class="text-center">
    <h1 class="color-warning mb-4 animated fadeInDown animation-delay-4">Аналитика</h1>
    <p class="lead lead-xl mw-800 center-block color-medium mb-2 animated fadeInDown animation-delay-4"> Лучшая аналитическая информация <span class="colorStar">по торговым инструментам</span>. <br> Используй <span class="colorStar animation-delay-10">торговые возможности</span> по максимуму. </p>
  </div>
</div>
</header>
<div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-slash" itemscope itemtype="https://schema.org/BreadcrumbList">
          <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <a href="/" itemprop="item"><span itemprop="name">Главная</span></a>
              <meta itemprop="position" content="1" />
          </li>
          <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <span itemprop="name">Аналитика</span>
              <meta itemprop="position" content="2" />
          </li>
      </ol>
    </nav>
    <div class="row">
        <div class="ms-collapse w-100 no-margin" id="accordion-filter" role="tablist" aria-multiselectable="true">
            <div class="mb-0 card card-primary">
                <div class="card-header" role="tab" id="headingFilter">
                    <h4 class="card-title">
                        <a class="collapsed withripple" role="button" data-toggle="collapse" data-parent="#accordion-filter" href="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                            <i class="fa fa-filter"></i> Фильтр
                        </a>
                    </h4>
                </div>
                <div id="collapseFilter" class="card-collapse collapse" role="tabpanel" aria-labelledby="headingFilter">
                    <div class="card-body">
                        <form action="/dailyanalysis/" method="get">
                            <div class="form-group row">
                                <div class="form-group row w-25 center-block">
                                    <label for="post_date" class="col-lg-10 control-label">Дата:</label>
                                    <div class="col-lg-10">
                                        <input id="post_date" name="post_date" type="date" class="form-control" value="{{ post_date }}">
                                    </div>
                                </div>
                                <div class="form-group row w-25 center-block">
                                    <label for="post_ticker" autocomplete="false" class="col-lg-10 control-label">Тикер:</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="post_ticker" name="post_ticker" value="{{ post_ticker }}">
                                    </div>
                                </div>
                                <div class="w-25 d-flex justify-content-center align-items-center">
                                    <div class="col-lg-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="post_sig_only" value="True"> Есть сигнал
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-25 d-flex justify-content-center align-items-center">
                                    <button type="submit" class="btn btn-raised btn-primary">Найти</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="container mt-3">
    <div class="row">
        {% if page_obj %}
                {% for post in page_obj %}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="withripple zoom-img">
                                <a href="{% url 'detail' post.slug_url %}"><img src="{% get_media_prefix %}{{ post.get_overview.img }}" alt="article-img {{ post.ticker.short_name }} - {{ post.date_analysis|date:'yy-m-d' }}" class="img-fluid"></a>
                            </div>
                            <div class="card-body text-center pts-da-card">
                                <h4 class="color-success"><a href="{% url 'detail' post.slug_url %}">{{ post.header }}</a></h4>
                                <div class="pts-da-card-text" title="{{ post.get_overview.description }}">
                                        {{ post.get_overview.description|content_preview }}
                                </div>
                                <a href="{% url 'detail' post.slug_url %}" class="btn btn-success btn-raised">
                                    <i class="zmdi zmdi-file-text"></i> Читать далее
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            <div class="col-md-12">
                <nav aria-label="Page navigation">
                    <ul class="pager pager-flat d-flex justify-content-between">
                        {% if page_obj.has_previous %}
                            {% if page_obj.previous_page_number == 1 %}
                                <li class="page-item"><a class="page-link" href="{% url 'dailyAnalysis' %}"><span aria-hidden="true">«</span> предыдущая</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="{% url 'dailyAnalysis' page_num=page_obj.previous_page_number %}"><span aria-hidden="true">«</span> предыдущая</a></li>
                            {% endif %}
                        {% endif %}
                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="{% url 'dailyAnalysis' page_num=page_obj.next_page_number %}">следующая <span aria-hidden="true">»</span></a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        {% else %}
            <div class="container mt-1">
                <div class="row">
                    <div class="col-md-12">
                        Нет публикаций, удовлетворяющих условиям отбора. Попробуйте изменить условия
                        отбора в фильтре.
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% if page_obj.number == 1 %}
<div class="container mt-3">
    <div class="row">
        <div class="card col-lg-12">
            <div class="card-body-big">

                <h2 class="color-primary right-line">Аналитика рынка акций </h2>

                <div class="pts-landing-text-block">
                    <p class="dropcaps">
                        Аналитика акций - разбор движения цены. Что стоит за каждым колебанием: новая отчетность, новости о
                        разработках, скандалы внутри компании. Технический анализ фондового рынка позволяет получать знания
                        и прогнозы, исходя из графиков и показателей. Для инвестора - это возможность получать всю актуальную
                        информацию в одном месте.
                    </p>

                    <h3 class="color-primary">Технический анализ акций ММВБ</h3>
                    <p>
                        Фондовый технический анализ - прогноз изменения цены ценных бумаг по графикам. За каждой покупкой и
                        продажей стоят ожидания людей. Задача прогнозиста - понять, о чем думают биржевые игроки и сделать
                        ставку на определенный исход.<br>

                        Аналитика акций MOEX на сегодня - ежедневный доступ к движениям цены. Не нужно самостоятельно
                        анализировать движение и помнить, как шел график в течение недели/месяца. Все данные в одном месте:
                    </p>
                    <ul>
                        <li>Еженедельное движение графика;</li>
                        <li>Дневные минимумы и максимумы;</li>
                        <li>Торговые стратегии, которые принесут прибыль;</li>
                        <li>Наглядные пособия по их использованию. </li>
                    </ul>
                    <p>
                        <i>Предоставленная аналитика акций Российских компаний ежедневно редактируется. Данные актуализируются,
                            перепроверяется опытными трейдерами и инвесторами, и только потом выкладывается.</i><br>

                        Аналитика покупки акций - поиск момента входа в сделку. Для трейдеров - это возможность совершить
                        покупку или зашортить актив. Для инвесторов - поиск потенциальной прибыли для долгосрочных вложений.
                        Графики содержат слишком много сведений, чтобы ими пренебрегать.
                    </p>

                    <h3 class="color-primary">Какая информация доступна в аналитике акций</h3>
                    <p>
                        Аналитика акций на сегодня включает в себя дневной и недельный графики, а также популярные торговые
                        стратегии, которые можно использовать. В каждой стратегии есть конкретный пример: как входить, где
                        выставлять стоп-лоссы, и каким образом работать с графиком самостоятельно.<br>

                        Наши прогнозы хорошо подходят для маржинальной торговли и ежедневного трейдинга. Актуальные данные
                        обновляется каждый день: еженедельный и ежедневный прирост цены, количество сделок, обороты. Это
                        позволяет видеть все потенциальные возможности.<br>

                        Аналитика акций на сегодня - это сборник всех стратегий и данных для Российского рынка. На одной
                        странице собраны вся информация для трейдинга, которая может пригодиться.
                    </p>

                    <h3 class="color-primary">Возможные риски</h3>
                    <p>
                        Мы предупреждаем всех участников о возможных рисках. Фондовых технический анализ - это про умение
                        адаптироваться и искать возможности. Никаких гарантий, что каждое действие будет прибыльным. Умение
                        адаптироваться очень важно.<br>

                        Трейдер должен быть лучше других 60% игроков на бирже, и тогда он будет выходить в плюс. Не стоит
                        забывать об этой математике.<br>

                        Аналитика акций включает в себя возможные советы по сделкам и получению профита. Но у каждого
                        трейдера своя стратегия, которая позволяет ему входить в сделки. Не стоит слепо следовать словам
                        прогнозистов и опытных трейдеров. Необходимо самостоятельно работать со своим счетом.<br>

                        Технический анализ акций ММВБ не дает стопроцентной гарантии по каждой сделке. Трейдеру самому
                        придется балансировать риски и потенциальную доходность. Это один из важных навыков, но обучиться
                        ему придется самостоятельно.<br>

                        Лучший прогноз дает только информацию. Важно сбалансировать свою торговую стратегию таким образом,
                        чтобы потенциальные потери всегда перекрывались более высокой прибылью. Нельзя по каждому контракту
                        выходить в плюс. Особенно на MOEX, где рынок очень волатильный и движется в непредсказуемых
                        направлениях.
                    </p>

                    <h3 class="color-primary">Как пользоваться онлайн аналитикой акций ММВБ</h3>
                    <p>
                        На странице представлена аналитика акций Российский компаний. Пользователь может использовать наши
                        прогнозы и принимать решение исходя из полученных данных, или просто получать актуальные сведения и
                        делать собственные выводы.<br>

                        Сведения по дневным и недельным графикам подходит для трейдеров. Посмотреть на графике, куда сегодня
                        будут двигаться ценные бумаги и провести несколько сделок с кредитным плечом, чтобы получить прибыль.
                        Аналитика покупки акций поможет в этом.<br>

                        Для инвесторов, которые хотят вкладывать на долгий срок, можно получить сборную информацию по каждой
                        компании. Как двигался график, какие сделки раньше можно было заключить. Из этого делается вывод о
                        платежеспособности компании в долгосрочной перспективе.<br>

                        Для новичков есть и другие инструменты: торговые сигналы и форум. С помощью сигналов можно получить
                        данные по входу в сделку: когда, сколько, какие прибыли и риски. На форуме можно задать свой вопрос,
                        поделиться знаниями и работать в комьюнити людей, которые движутся к одной цели.<br>

                        Аналитика акций ММВБ - инструмент, который поможет как начинающему, так и опытному инвестору принять
                        решение. Только актуальная информация, которая обновляется каждый день. Лучшие аналитики обрабатывают
                        данные и составляют прогнозы.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}